label {
	width: 20em;
	
}

hr {
	border-bottom: 1px solid #cce6ff;
	
	display: block;
	margin: 0; padding: 0;
}

.ph-options-head {
	background: #DBCFC2;
	color: #996633;
	border: 1px solid #C8B5A2;
	padding:15px 10px;
	margin:5px 0;
	display:block;
	text-shadow: 0px;
	margin-left: -180px;
	border-radius: 2px;
}

.ph-options-head-expert {
	background: #FFC2C2;
	color: #a60000;
	border-bottom: 1px solid #FF8F8F;
	border-top: 1px solid #FF8F8F;
	padding:15px 10px;
	margin:5px 0;
	display:block;
	text-shadow: 0 1px 0 #ffffff;
	margin-left: -180px;
}



.ph-options-head-expert div
.ph-options-head div{
	white-space: nowrap;
	
}

/* O */

ul.nav.nav-tabs li a {
	color: #996633 !important;
}
ul.nav.nav-tabs li.active a{
	color: #000 !important;
}

.chzn-container-active .chzn-single,
.chzn-container-active .chzn-single {
    border: 1px solid #aaa !important;
}

.chzn-container .chzn-results .highlighted,
.chzn-container .chzn-results .highlighted {
    background-color: #996633 !important;
    background-image: -webkit-linear-gradient(center top , #86592D 20%, #996633 90%) !important;
	background-image: -moz-linear-gradient(center top , #86592D 20%, #996633 90%) !important;
    color: #FFFFFF;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(198,140,83,0.8) !important;
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(198,140,83,.6) !important;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(198,140,83,.6) !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(198,140,83,.6) !important;
}
